<a href="https://colab.research.google.com/github/SophieShin/MachineLearning/blob/main/Option_Pricing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [206]:
S = 5000
sigma = 0.21
r = 0.035
K = 4800
t = 30
div = 0

In [207]:
def call(S,K,r,t,div, sigma):
  u = np.exp(sigma*np.sqrt(t/354/49))
  d = np.exp(-sigma*np.sqrt(t/365/49))
  p = (np.exp(r *t/365/49) - d)/(u-d)
  q = 1-p  
  C_t = []
  x =  []
  pq = []
  for i in range(50):
    C_i = max((S-div) * u**i * d**(49-i) -K , 0)
    x_i = np.math.factorial(49)/(np.math.factorial(49-i)*np.math.factorial(i))
    p_i = p**i
    q_i = q**(49-i)
    C_t.append(C_i)
    x.append(x_i)
    pq.append(p_i*q_i)
  return sum([x*y*z for x, y,z in zip(C_t, x,pq)])*np.exp(-r*t/365)

In [208]:
call(S,K,r,t,div,sigma)

254.33794777872703

In [158]:
S=5500
call(S,K,r,t,div,sigma)

714.921378359241

In [183]:
S = 5000
sigma = 0.21
r = 0.035
K = 4800
t = 30
div = 0

In [184]:
def call(S,K,r,t,div, sigma):
  u = np.exp(sigma*np.sqrt(t/354/49))
  d = np.exp(-sigma*np.sqrt(t/365/49))
  p = (np.exp(r *t/365/49) - d)/(u-d)
  q = 1-p  
  C_t = []
  x =  []
  pq = []
  for i in range(50):
    C_i = max((S-div) * u**i * d**(49-i) -K , 0)
    x_i = np.math.factorial(49)/(np.math.factorial(49-i)*np.math.factorial(i))
    p_i = p**i
    q_i = q**(49-i)
    C_t.append(C_i)
    x.append(x_i)
    pq.append(p_i*q_i)
  return sum([x*y*z for x, y,z in zip(C_t, x,pq)])*np.exp(-r*t/365)

In [325]:
T= [30, 60]
DIV = [0, 0.5]
k= [ 4800, 5000]

In [326]:
call_price = pd.DataFrame()

for i in range(len(T)):
  t = T[i]
  div = DIV[i]
  call_price_temp = []
   
  for i in range(len(k)):
    K = k[i]
    price = call(S,K,r,t,div,sigma)
    call_price_temp.append(price)
  call_price_temp = pd.Series(call_price_temp, index = k)  
  call_price[t] = call_price_temp

In [331]:
print('호가가격단위부합전 콜옵션 가격표입니다. 가로축은 잔존일수이고, 세로축은 행사가격입니다')
call_price

호가가격단위부합전 콜옵션 가격표입니다. 가로축은 잔존일수이고, 세로축은 행사가격입니다

              30          60
4800  254.337948  305.151252
5000  128.586707  185.693259